In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

import datetime
import pandas as pd
import numpy as np
import getpass

In [2]:
#importa as fórmulas do arquivo aluguel_offshore.py - note que este arquivo deverá estar na mesma pasta deste notebook
from aluguel_offshore import *
from formulas_auxiliares_ticker import *
from confirmacoes.aux_emails import email_sender

In [3]:
path = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\Aluguel_Offshore\Arquivos diários\out2018\consolidado\alguel_offshore_consolidado.xlsx'
save_path = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\Aluguel_Offshore\Arquivos diários\out2018\consolidado'

In [4]:
abertura_consol = pd.read_excel(path, sheetname = 'Custos Colsolidados')
abertura_wm_consol = pd.read_excel(path, sheetname = 'Custos WM Colsolidados',)
abertura_treas_ops_consol = pd.read_excel(path, sheetname = 'Custos TREAS OPS Colsolidados')

In [5]:
abertura_consol.columns = ['acc', 'book', 'currency', 'accrual']
abertura_consol.loc[:,'tipo'] = 'geral'
abertura_wm_consol.columns = ['acc', 'book', 'currency', 'accrual']
abertura_wm_consol.loc[:,'tipo'] = 'WM'
abertura_treas_ops_consol.columns = ['acc', 'book', 'currency', 'accrual']
abertura_treas_ops_consol.loc[:,'tipo'] = 'TREAS'

df = pd.concat([abertura_consol,abertura_wm_consol,abertura_treas_ops_consol], axis=0).reset_index(drop=True)
df = df[df['accrual']!=0]

In [6]:
df

,acc,book,currency,accrual,tipo
0,int_c,ACOES_OFFSHORE_.INTC,AUD,-3356.200000,geral
1,int_c,ACOES_OFFSHORE_.INTC,USD,323.205352,geral
2,int_c,ACOES_OFFSHORE_INTC,USD,-586.295352,geral
3,int_c,INTRADAY_PAIRS.INTC,USD,-50.878938,geral
4,int_c,LOCAL_ADR_INTC,USD,516.741270,geral
5,int_c,LOCAL_ADR_MR.INTC,USD,-590.172332,geral
6,ms_cayman,13F_COMM.CAYMAN,USD,-2616.350000,geral
7,ms_cayman,13F_CONS_CYCL.CAYMAN,USD,-1224.737759,geral
8,ms_cayman,13F_CONS_N_CYCL.CAYMAN,USD,-1826.935541,geral
9,ms_cayman,13F_ENERGY.CAYMAN,USD,-1775.570000,geral
10,ms_cayman,13F_HEALTH.CAYMAN,USD,-1463.371361,geral
11,ms_cayman,13F_INDU.CAYMAN,USD,-1204.220105,geral
12,ms_cayman,ARB_PARITY,USD,-32.342546,geral
13,ms_cayman,CHILE_DIRECIONAL,USD,-3623.354318,geral
14,ms_cayman,CHILE_ISSUANCE,USD,-13.431221,geral
15,ms_cayman,CHILE_NETTING,USD,-1703.800000,geral
16,ms_cayman,CO_ARB.CAYMAN,USD,29983.999187,geral
17,ms_cayman,CO_FUT.CAYMAN,USD,-1612.359312,geral
18,ms_cayman,CO_PAIRS.CAYMAN,USD,-32772.957328,geral
19,ms_cayman,FLOW_US_EWZ.CAYMAN,USD,-644.786995,geral
20,ms_cayman,FLOW_US_NOTAS.CAYMAN,USD,-37.649730,geral
21,ms_cayman,HDG_ABS_MEX.CAYMAN,MXN,-505188.760000,geral
22,ms_cayman,HDG_ABS_MEX.CAYMAN,USD,-13817.483931,geral
23,ms_cayman,HDG_GLOB_EQ.CAYMAN,USD,-2028.187115,geral
24,ms_cayman,HDG_MEX,USD,-13304.263100,geral
25,ms_cayman,HDG_MEX.Cayman,USD,2747.705376,geral
26,ms_cayman,INTRADAY_PAIRS.CAYMAN,USD,-2080.664442,geral
27,ms_cayman,KIG,USD,26.662682,geral
28,ms_cayman,LATAM_BANKS.CAYMAN,MXN,-61264.054065,geral
29,ms_cayman,LATAM_FOODBEV.CAYMAN,MXN,-27028.260910,geral
...,...,...,...,...,...
45,ms_cayman,QUANT_STRAT.CAYMAN,USD,-575.105147,geral
46,ms_cayman,VI_MACRO_EQUITY.CAYMAN,USD,-1979.995688,geral
47,ubs_cayman,BD_CLIENTS_UBS,USD,8189.016541,geral
48,ubs_cayman,PRIVATE_DEFAULT_UBS,USD,1958.094433,geral
49,ubs_cayman,SICAV LATAM HEDGE.CAYMAN_UBS,USD,2754.771680,geral
50,ubs_cayman,TREAS_OPS.CAYMAN,MXN,-580144.390000,geral
51,ubs_cayman,TREAS_OPS.CAYMAN,USD,103018.027345,geral
52,ubs_cayman,16017 EUROAMERICA CORREDORES DE BOLSA SA (PBL),USD,5.070000,WM
53,ubs_cayman,18028 BTG PACTUAL CHILE SA CORREDORES DE BOLSA,USD,89.631622,WM
54,ubs_cayman,18348 BTG PACTUAL PERU SA SAB,USD,-16.400000,WM
55,ubs_cayman,26497 BEAVER CREEK GLOBAL FUND SPC ARROBA 3 GL...,USD,391.858976,WM
56,ubs_cayman,27428 BTG PACTUAL INTL PORT FUND II SPC - SP E...,USD,7664.304919,WM
57,ubs_cayman,487 PLATINA MULTI STRATEGY FUND - SEGREGATED P...,USD,1409.385458,WM
58,ubs_cayman,HF_EWW_BASKET.BTGINH,MXN,-310233.869903,TREAS
59,ubs_cayman,HF_GLOBAL CONSUMER.BTGINH(46300),USD,53000.967123,TREAS
60,ubs_cayman,HF_L&S_CHILE.BTGINH,USD,-3580.190098,TREAS
61,ubs_cayman,HF_LONG&SHORTMEXICO.BTGINH,MXN,-0.870000,TREAS
62,ubs_cayman,HF_LONG&SHORTMEXICO.BTGINH,USD,27.880741,TREAS
63,ubs_cayman,HF_PAGS.BTGINH,USD,4110.707712,TREAS
64,ubs_cayman,HF_TRADING.BTGINH,USD,148.337696,TREAS
65,ubs_cayman,LS_EWW_BASKET.BTINTG,MXN,-76269.292698,TREAS
66,ubs_cayman,LS_GLOBAL CONSUMER.ABSGLS(46328),USD,11465.527923,TREAS
67,ubs_cayman,LS_GLOBAL CONSUMER.BTINTG(46328),USD,8705.219455,TREAS
68,ubs_cayman,LS_L&S_CHILE.BTINTG,USD,-1568.481572,TREAS
69,ubs_cayman,LS_LONG&SHORTMEXICO.BTINTG,MXN,0.580000,TREAS
70,ubs_cayman,LS_LONG&SHORTMEXICO.BTINTG,USD,81.179259,TREAS
71,ubs_cayman,LS_PAGS.BTINTG,USD,1147.842935,TREAS
72,ubs_cayman,LS_TRADING.BTINTG,USD,34.718722,TREAS
73,ubs_cayman,XG_PORTFOLIO.ABGEQ,USD,1795.409721,TREAS
74,ubs_cayman,XG_PORTFOLIO.ABGEQM,USD,313.278542,TREAS

In [7]:
df = df[(df['book']!='TREAS_OPS.CAYMAN')&(~(df['book'].str.contains('PRIVATE')|df['book'].str.contains('CLIENT')))]

#### Ajuste do output final

In [8]:
df_g = df.groupby(by=['acc', 'currency']).sum().reset_index()
#abertura_consol_grouped = abertura_consol.groupby(by=['acc', 'currency']).sum().reset_index()
#abertura_treas_ops_consol_grouped = abertura_treas_ops_consol.groupby(by=['acc', 'currency']).sum().reset_index()

In [9]:
info_emails = pd.DataFrame({
    'acc':['ms_cayman','ms_cayman','ubs_cayman','int_c','int_c'],
    'currency':['MXN','USD','MXN','USD','AUD'],
    'accrual_final':[-721885.03,-125142.35,-583686.48,-387.40,-3356.20]
})

In [10]:
info_emails

          acc  accrual_final currency
0   ms_cayman     -721885.03      MXN
1   ms_cayman     -125142.35      USD
2  ubs_cayman     -583686.48      MXN
3       int_c        -387.40      USD
4       int_c       -3356.20      AUD

In [11]:
ajuste = pd.merge(df_g, info_emails, on=['acc','currency'], how='left')

In [12]:
ajuste

          acc currency        accrual  accrual_final
0       int_c      AUD   -3356.200000       -3356.20
1       int_c      USD    -387.400000        -387.40
2   ms_cayman      MXN -721855.030000     -721885.03
3   ms_cayman      USD -122356.980000     -125142.35
4  ubs_cayman      MXN -386503.452602     -583686.48
5  ubs_cayman      USD   87981.020814            NaN

In [13]:
ajuste.loc[:,'multiplicador'] = ajuste.loc[:,'accrual_final']/ajuste.loc[:,'accrual']

In [14]:
ajuste.loc[:,'diff'] = ajuste.loc[:,'accrual_final']-ajuste.loc[:,'accrual']

In [15]:
ajuste

,acc,currency,accrual,accrual_final,multiplicador,diff
0,int_c,AUD,-3356.200000,-3356.20,1.000000,-9.094947e-13
1,int_c,USD,-387.400000,-387.40,1.000000,-1.136868e-13
2,ms_cayman,MXN,-721855.030000,-721885.03,1.000042,-3.000000e+01
3,ms_cayman,USD,-122356.980000,-125142.35,1.022764,-2.785370e+03
4,ubs_cayman,MXN,-386503.452602,-583686.48,1.510171,-1.971830e+05
5,ubs_cayman,USD,87981.020814,NaN,NaN,NaN

In [16]:
df = pd.merge(df, ajuste.drop(['accrual_final','accrual'], axis=1), on=['acc','currency'], how='left')

In [17]:
df.loc[:,'accrual_final'] = df.loc[:,'accrual']*df.loc[:,'multiplicador']

In [18]:
df = df.drop(['accrual','multiplicador'], axis=1)

In [19]:
df_posi = df[df.loc[:,'accrual_final']>0].copy()
df_neg = df[df.loc[:,'accrual_final']<0].copy()

In [20]:
df_posi = df_posi.groupby(by=['acc','currency']).sum().reset_index().rename(columns={
    'accrual_final':'accrual_positivo'
})

In [21]:
df_neg_g = df_neg.groupby(by=['acc','currency']).sum().reset_index().rename(columns={'accrual_final':'accrual_agrupado'})

In [22]:
df_neg = pd.merge(df_neg, df_neg_g, on=['acc','currency'], how='left')

In [23]:
df_neg.loc[:,'pct'] = df_neg.loc[:,'accrual_final']/df_neg.loc[:,'accrual_agrupado']

In [24]:
df = pd.merge(df_neg, df_posi, on=['acc','currency'], how='left').fillna(0)

In [25]:
df.loc[:,'accrual'] = df.loc[:,'accrual_positivo']*df.loc[:,'pct']+df.loc[:,'accrual_final']

In [26]:
df = df.drop(['accrual_final','accrual_agrupado','pct','accrual_positivo'], axis=1)

In [27]:
check_final = pd.merge(df.groupby(by=['acc','currency']).sum().reset_index(), info_emails, on=['acc','currency'], how='left')

In [28]:
writer = pd.ExcelWriter(save_path+'\\Custos_de_Aluguel_Final.xlsx')

In [29]:
df.to_excel(writer, sheet_name='Custos Aluguel Offshore', index=False)
check_final.to_excel(writer, sheet_name='Tabela', index=False)

In [30]:
writer.save()

In [31]:
lista_files = [save_path+'\\Custos_de_Aluguel_Final.xlsx']

In [35]:
save_path

'\\\\DRIOC0231PFS\\Apoio_SB\\Geral\\BD\\Aluguel_Offshore\\Arquivos diários\\out2018\\consolidado'

In [32]:
body = '''Legenda: 
    Aba Custos Aluguel Offshore contem os custos consolidados
        Tipo Geral: books Asset
        Tipo TREAS: book TREAS_OPS
        Tipo WM: Custos dos clients WM
    Aba Tabela contém os custos somados por Account e por moeda
        accrual: Dados distribuídos
        accrual_final: custos debitados da conta em cayman'''

In [33]:
send_to = 'OL-equity-backoffice@btgpactual.com;OL-EQUITYBD@btgpactual.com;DL-Finance-EQUITIES@btgpactual.onmicrosoft.com;\
DL-Finance-BUC-Colombia@btgpactual.com;DL-Finance-Trading@btgpactual.com;OL-Finance-Trading@btgpactual.com;\
Alexandre.Tex@btgpactual.com;Joao.Seidel@btgpactual.com;Valesca.Cidronio@btgpactual.com;Rafael.Barbirato@btgpactual.com;\
DL-DataOffice@btgpactual.com'

In [34]:
mes = 'October'

In [36]:
email_sender('OL-EQUITYBD@btgpactual.com',send_to,'Stock Loan | Monthly Costs  - %s' %mes, body, lista_files)