In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

import datetime
import pandas as pd
import numpy as np
import getpass

In [2]:
import aux_emails as email

## Abaixo você coloca a pasta em que salvou o arquivo do Fidessa!

In [3]:
#O getpass no final é pr ficar com o seu nome no caminho. Você também pode colocar hardcoded!!
pasta = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\Splunk'
pasta_salva = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\Confirmations\Confirmacoes_python'
mapa_c = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\Confirmations\mapa_calypso.xlsx'

In [4]:
email_saida = 'guilherme.correia@btgpactual.com'

In [5]:
## AQUI VOCÊ COLOCA O NOME DO ARQUIVO COMO VOCÊ SALVOU
df = pd.read_csv(pasta+'\\'+'Splunk_TD_24_10_2018.csv')

In [6]:
def salva_excel(cliente, df, td):
    out_path = pasta_salva+'\%s TD %s.xlsx' % (cliente, td)
    
    #print('Você está salvando o arquivo %s') % out_path
    
    writer = pd.ExcelWriter(out_path , engine='xlsxwriter')
    ndf.to_excel(writer, sheet_name='Planilha1', index=False)
    writer.save()
    
    #print ('Arquivo salvo no local indicado')
    return out_path, cliente, td
    
def get_gap(df):
    #print ('Gerando confirmação da GAP')
    ndf = df[df['Client/Book']=='GAP_PRUDENTIAL']

    ndf['Time']=ndf['Trade Date'].str.split().str[1]

    td = pd.to_datetime(ndf['Trade Date'].str.split().str[0].drop_duplicates().reset_index(drop=True)[0], 
                   format='%Y%m%d')

    td = str(td.month)+'-'+str(td.day)

    ndf['Order #'] = 6141811

    ndf = ndf[['Order #', 'Time', 'Client/Book', ndf.columns[9], 'Symbol', 'Volume', 'AvgPrc', 
               'Gross consideration','Comm rate', 'Market charges total', 
               'Settlement consideration']].reset_index(drop=True)

    ndf.columns = ['Order #', 'Time','Client', 'B/S', 'Stock', 'Exec Qty', 'Avg Price', 'Financial', 
                   'Comission', 'Fees', 'Net Amount']
    #print ('DataFrame da confirmação gerado')
    ndf
    
    return ndf, td

def get_spx(df):
    #print('Gerando confirmação da SPX')
    ndf = df[df['Client/Book'].str.contains("SPX")].reset_index(drop=True)

    ndf['trade_date'] = pd.to_datetime(ndf['Trade Date'].str.split().str[0], format='%Y%m%d')
    ndf['settlement_date'] = pd.to_datetime(ndf['Value date'], format='%Y%m%d')
    td = pd.to_datetime(ndf['Trade Date'].str.split().str[0].drop_duplicates().reset_index(drop=True)[0], 
                       format='%Y%m%d')
    td = str(td.month)+'-'+str(td.day)
    
    ndf = ndf[['trade_date', 'settlement_date', ndf.columns[9], 'Symbol', 'Isin code', 'Volume', 'AvgPrc',
        'Gross consideration', 'Comm rate', 'Market charges total', 'Settlement consideration', 'Fund ID']]

    ndf['Unnamed: 9'] = np.where(ndf['Unnamed: 9']=='B', 'BUY', 'SELL')
    ndf['Settlement consideration'] = np.where(ndf['Unnamed: 9']=='BUY', -1*ndf['Settlement consideration'],
                                              ndf['Settlement consideration'])

    ndf.columns=['T/D', 'S/D', 'Side', 'Ticker', 'ISIN', 'Shares', 'Price', 'Principal', 'Commission',
                'SEC Fee', 'Net Amount', 'Settlement Account']
    
    #print ('DataFrame da confirmação gerado')
    ndf
    
    return ndf, td


def get_asset(df, cliente):
    
    #print ('Gerando confirmação da %s') % cliente

    ndf = df[df['Client/Book'].str.contains(cliente)].reset_index(drop=True).copy()

    ndf['trade_date'] = pd.to_datetime(ndf['Trade Date'].str.split().str[0], format='%Y%m%d')
    ndf['settlement_date'] = pd.to_datetime(ndf['Value date'], format='%Y%m%d')
    td = pd.to_datetime(ndf['Trade Date'].str.split().str[0].drop_duplicates().reset_index(drop=True)[0], 
                       format='%Y%m%d')
    td = str(td.month)+'-'+str(td.day)

    ndf['CUSIP']=' '
    ndf['SEDOL']=' '
    ndf['STRIKE PRICE']=' '
    ndf['EXPIRY DATE']=' '
    ndf['TRADE TYPE']='EQUITY'

    ndf['COUNTERPARTY']=np.where(ndf['Dealt currency']=='MXN', 'BTG PACTUAL CASA DE BOLSA SA DE CV', 'BTG PACTUAL US CAPITAL LLC')
    ndf['TRADER']='ADRIANO TENENTE'
    ndf['Dealt to settlement exchange rate'] = np.where(ndf['Dealt to settlement exchange rate']==1, 0, 
                                                        ndf['Dealt to settlement exchange rate'])


    ndf['FX CURRENCY'] = np.where(ndf['Settlement currency ID']==ndf['Dealt currency'], 0, 
                                 ndf['Settlement currency ID'].astype(str)+'\\'+ndf['Dealt currency'].astype(str))


    ndf = ndf[['trade_date', 'settlement_date', 'Fund ID', 'Isin code', 'CUSIP', 'SEDOL', 'Symbol', ndf.columns[9], 'TRADE TYPE',
        'STRIKE PRICE', 'EXPIRY DATE', 'Volume', 'AvgPrc', 'Dealt currency', 'Settlement consideration', 'Settlement currency ID',
         'COUNTERPARTY', 'TRADER', 'Comm rate', 'Market charges total', 'Dealt to settlement exchange rate', 'FX CURRENCY']]

    ndf.columns = ['TRADE DATE','SETTLE DATE','FUND','ISIN','CUSIP','SEDOL','TICKER','BUY/SELL','TRADE TYPE','STRIKE PRICE',
                   'EXPIRY DATE','QUANTITY','PRICE','PRICE CURRENCY','NET AMOUNT','NET CURRENCY','COUNTERPARTY','TRADER','COMM',
                   'SEC FEES','FX RATE','FX CURRENCY']
    
    #print ('DataFrame da confirmação gerado')
    ndf
    
    return ndf, td

def get_any(df, coluna_procura, string_procura,input_colunas, output_colunas):
    #print ('Gerando confirmação do cliente: %s') % string_procura
    ndf = df[df[coluna_procura]==string_procura].reset_index(drop=True).copy()

    ndf['trade_date'] = pd.to_datetime(ndf['Trade Date'].str.split().str[0], format='%Y%m%d')
    ndf['settlement_date'] = pd.to_datetime(ndf['Value date'], format='%Y%m%d')
    td = pd.to_datetime(ndf['Trade Date'].str.split().str[0].drop_duplicates().reset_index(drop=True)[0], 
                       format='%Y%m%d')
    td = str(td.month)+'-'+str(td.day)

    ndf = ndf[input_colunas]
    
    try:
        ndf['Dealt to settlement exchange rate'] = np.where(ndf['Dealt to settlement exchange rate']==1,0,
                                                            ndf['Dealt to settlement exchange rate'])
    except:
        print('No exchange rates')
        
    ndf.columns = [output_colunas]
    
    #print ('DataFrame da confirmação gerado')
    return ndf, td


def get_kinea(df):

    ndf, td = get_any(df, 'Client/Book', 'KINEA',['Unnamed: 9', 'Fund ID', 'Symbol', 'Trade Date', 'Value date', 'Dealt currency', 
                                       'Volume', 'AvgPrc', 'Gross consideration', 'Comm rate', 'Market charges total',
                                       'Settlement consideration'], ['Position Type','Account Id','Security Identifier',
                                                                     'Trade Date','Settlement Date','Settlement CCY',
                                                                     'Quantity','PriceAmount','Principal','Commission Amount',
                                                                     'Tax or fees','Net Amount'])
    ndf['Transaction Type']='TR001'
    ndf['Transaction Status']='NEW' 
    ndf['Transaction Level']='A'
    ndf['Broker/Counterparty']='PACT'
    ndf['Price Indicator']='G'
    ndf['Commission Indicator']='F'
    ndf['Comments']='CASH'
    ndf['Asset Type']='STOCK'
    ndf = pd.concat([ndf, pd.DataFrame(columns=lista_blanks)], axis=1).fillna('')[['Transaction Type','Transaction Status','Buy Sell Indicator','Long Short Indicator','Position Type',
         'Transaction Level','Client Trade Ref No.','Associated Trade Id','Execution Account','Account Id',
         'Broker/Counterparty','Security Identifier Type','Security Identifier','Security Description','Trade Date',
         'Settlement Date','Settlement CCY','Exchange Code','Quantity','PriceAmount','Price Indicator','Principal',
         'Commission Amount','Commission Indicator','Tax or fees','Tax 2','Tax or fees indicator','Interest',
         'Interest indicator','Net Amount','Hearsay Ind','Custodian','Money Manager','Book id','Deal Id','TaxLot Id',
         'Original taxlot transaction date','Original Taxlot transaction price','TaxLot Closeout Method','Exchange Rate',
         'Acquisition Date','Comments','Asset Type','Trader ID']]
    ndf['Account Id'] = ndf['Account Id'].map(dict_contas)
    
    return ndf, td

    
lista_blanks = ['Buy Sell Indicator','Long Short Indicator','Client Trade Ref No.','Associated Trade Id','Execution Account',
    'Security Identifier Type','Security Description','Exchange Code','Tax 2','Tax or fees indicator','Interest',
    'Interest indicator','Hearsay Ind','Custodian','Money Manager','Book id','Deal Id','TaxLot Id',
    'Original taxlot transaction date','Original Taxlot transaction price','TaxLot Closeout Method','Exchange Rate',
    'Acquisition Date','Trader ID']

dict_contas = {
    'KGC':'038CDNSR7',
    'KGD':'038CDLWA3',
    'KGE':'038CDNSQ9',
    'KGF':'038CDNSS5'
}

def get_claritas(df):
    ndf = df[df['Client/Book'].str.contains("CLARITAS")].reset_index(drop=True).copy()

    ndf['trade_date'] = pd.to_datetime(ndf['Trade Date'].str.split().str[0], format='%Y%m%d')
    ndf['settlement_date'] = pd.to_datetime(ndf['Value date'], format='%Y%m%d')
    td = pd.to_datetime(ndf['Trade Date'].str.split().str[0].drop_duplicates().reset_index(drop=True)[0], 
                       format='%Y%m%d')
    data = str(td.year)+str(td.month)+str(td.day)
    td = str(td.month)+'-'+str(td.day)
    


    ndf['Gross Amount'] = ndf['Volume']*ndf['AvgPrc']

    ndf = ndf[['Fund ID', 'trade_date', 'settlement_date', 'Unnamed: 9', 'Symbol', 'Isin code', 'Volume', 'AvgPrc', 'Comm rate',
        'Market charges total', 'Dealt to settlement exchange rate', 'Gross Amount', 'Settlement consideration', 
        'Settlement currency ID']]

    ndf.columns=['Name of Fund','Execution Date','Settlement Date','Side','Ticker ','ISIN Number','Quantity','Avg Price',
                 'Commission','SEC Fee','FX RATE','Gross Amount','NetAmount','Sett CCY']

    ndf
    
    return ndf, td, data

# Confirmações prontas!

### Se aparecer algo em um quadro vermelho, não quer dizer que deu erro!! funcinou, só que o código está depricated

### GAP

In [7]:
ndf, td = get_gap(df)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
ndf

,Order #,Time,Client,B/S,Stock,Exec Qty,Avg Price,Financial,Comission,Fees,Net Amount
0,6141811,16:54:31.169000,GAP_PRUDENTIAL,S,ITSA4.SA,47600,11.101282,528421.0,530.53,171.74,527718.73
1,6141811,16:54:30.655000,GAP_PRUDENTIAL,B,BBDC4.SA,32200,33.241615,1070380.0,1074.66,347.87,1071802.53
2,6141811,16:54:30.618000,GAP_PRUDENTIAL,S,ITUB4.SA,10600,50.029340,530311.0,532.43,172.35,529606.22
3,6141811,16:54:31.344000,GAP_PRUDENTIAL,S,BRDT3.SA,3500,25.132000,87962.0,88.31,28.59,87845.10

In [9]:
out_path, cliente, td = salva_excel('GAP', df, td)

In [10]:
## CONFERE SE O EXCEL ESTÁ OK!!
email.email_sender(email_saida, 'Risco@sharpcapital.com.br;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## SPX

In [7]:
ndf, td = get_spx(df)

In [8]:
out_path, cliente, td = salva_excel('SPX', df, td)

In [9]:
ndf

,T/D,S/D,Side,Ticker,ISIN,Shares,Price,Principal,Commission,SEC Fee,Net Amount,Settlement Account
0,2018-08-22,2018-08-24,BUY,PBR.US,US71654V4086,89385,10.3353,923820.79,893.85,0.00,-924714.64,SPX_MS
1,2018-08-22,2018-08-24,SELL,CIG.US,US2044096012,500000,1.8223,911150.00,5000.00,11.85,906138.15,SPX_MS
2,2018-08-22,2018-08-24,BUY,BSBR.US,US05967A1079,500000,8.4614,4230700.00,5000.00,0.00,-4235700.00,SPX_MS
3,2018-08-22,2018-08-24,SELL,BBD.US,US0594603039,182871,6.9855,1277445.37,1828.71,16.61,1275600.05,SPX_MS
4,2018-08-22,2018-08-24,SELL,CBD.US,US20440T2015,105541,19.7834,2087959.82,1055.41,27.15,2086877.26,SPX_MS
5,2018-08-22,2018-08-24,BUY,ITUB.US,US4655621062,145169,10.4018,1510018.90,1451.69,0.00,-1511470.59,SPX_MS

In [10]:
## CONFERE SE O EXCEL ESTÁ OK!!
email.email_sender(email_saida, 'felipe.carvalho@spxcapital.com.br;controle@spxcapital.com.br;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

### Polo

In [7]:
ndf, td = get_any(df, 'Client/Book', 'POLO_INTL',['trade_date', 'settlement_date', df.columns[9], 'Symbol', 'Isin code', 'Volume', 'AvgPrc',
        'Gross consideration', 'Comm rate', 'Market charges total', 'Settlement consideration', 'Fund ID'],
                 ['T/D', 'S/D', 'Side', 'Ticker', 'ISIN', 'Shares', 'Price', 'Principal', 'Commission',
                'SEC Fee', 'Net Amount', 'Settlement Account'])

No exchange rates

In [8]:
out_path, cliente, td = salva_excel('POLO_INTL', df, td)

In [9]:
ndf

,T/D,S/D,Side,Ticker,ISIN,Shares,Price,Principal,Commission,SEC Fee,Net Amount,Settlement Account
0,2018-07-19,2018-07-23,S,GENTERA*.MX,MX01GE0E0004,303477,19.1732,5818625.22,11637.25,0.0,302870.68,POLO_INTL_FUND
1,2018-07-19,2018-07-23,B,BSMX.US,US05969B1035,39000,7.8126,304691.40,1170.00,0.0,305861.40,POLO_INTL_FUND

In [10]:
email.email_sender(email_saida, 'boletagem@polocapital.com;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

### Truxt

In [7]:
ndf, td = get_any(df, 'Client/Book', 'TRUXT',['trade_date', 'settlement_date', df.columns[9], 'Symbol', 'Isin code', 'Volume', 'AvgPrc',
        'Gross consideration', 'Comm rate', 'Market charges total', 'Settlement consideration', 'Fund ID'],
                 ['T/D', 'S/D', 'Side', 'Ticker', 'ISIN', 'Shares', 'Price', 'Principal', 'Commission',
                'SEC Fee', 'Net Amount', 'Settlement Account'])

No exchange rates

In [8]:
out_path, cliente, td = salva_excel('TRUXT', df, td)

In [9]:
ndf

,T/D,S/D,Side,Ticker,ISIN,Shares,Price,Principal,Commission,SEC Fee,Net Amount,Settlement Account
0,2018-06-06,2018-06-08,S,LTM.US,US51817R1068,260000,11.8006,3068156.0,5200.0,39.89,3062916.11,TRUXT_MS

In [10]:
email.email_sender(email_saida, 'anaclara.machado@truxtinvestimentos.com.br;middle@truxtinvestimentos.com.br;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## Asset

In [7]:
ndf, td = get_asset(df, 'ASSETBTG')

In [8]:
ndf = ndf.sort_values(by=['TICKER', 'FUND'])

In [9]:
out_path, cliente, td = salva_excel('ASSETBTG', df, td)

In [1]:
ndf['TRADER']

NameError: name 'ndf' is not defined

In [11]:
## CONFERE SE O EXCEL ESTÁ OK!!
email.email_sender(email_saida, 'OL-equity-backoffice@btgpactual.com;OL-BTG-Ops-Brazil@btgpactual.com;OL-hedgefundsadm@btgpactual.com;ol-fundadm-trades@btgpactual.com;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## Sura

In [7]:
ndf, td = get_asset(df, 'SURA_')

In [8]:
ndf

,TRADE DATE,SETTLE DATE,FUND,ISIN,CUSIP,SEDOL,TICKER,BUY/SELL,TRADE TYPE,STRIKE PRICE,...,PRICE,PRICE CURRENCY,NET AMOUNT,NET CURRENCY,COUNTERPARTY,TRADER,COMM,SEC FEES,FX RATE,FX CURRENCY
0,2018-07-25,2018-07-27,ALIANZA_PAC,MXP001691213,,,AMXL.MX,B,EQUITY,,...,16.1339,MXN,777262.60,MXN,BTG PACTUAL CASA DE BOLSA SA DE CV,ADRIANO TENENTE,931.60,0.0,0.0,0
1,2018-07-25,2018-07-27,ALIANZA_PAC,MX41BB000000,,,BBAJIOO.MX,S,EQUITY,,...,44.9436,MXN,142838.93,MXN,BTG PACTUAL CASA DE BOLSA SA DE CV,ADRIANO TENENTE,171.61,0.0,0.0,0
2,2018-07-25,2018-07-27,ALIANZA_PAC,MX01OM000018,,,OMAB.MX,S,EQUITY,,...,117.6103,MXN,168450.79,MXN,BTG PACTUAL CASA DE BOLSA SA DE CV,ADRIANO TENENTE,202.38,0.0,0.0,0

In [9]:
out_path, cliente, td = salva_excel('SURA', df, td)

In [10]:
## CONFERE SE O EXCEL ESTÁ OK!!
email.email_sender(email_saida, 'Paulina.Zuniga@sura.cl;Fabian.Gonzalez@Sura.cl;Marco.Gomez@Sura.cl;CustodiaAGF@sura.cl;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## Kinea

In [7]:
ndf, td = get_kinea(df)

No exchange rates

In [9]:
ndf.columns

Index(['Transaction Type', 'Transaction Status', 'Buy Sell Indicator',
       'Long Short Indicator', 'Position Type', 'Transaction Level',
       'Client Trade Ref No.', 'Associated Trade Id', 'Execution Account',
       'Account Id', 'Broker/Counterparty', 'Security Identifier Type',
       'Security Identifier', 'Security Description', 'Trade Date',
       'Settlement Date', 'Settlement CCY', 'Exchange Code', 'Quantity',
       'PriceAmount', 'Price Indicator', 'Principal', 'Commission Amount',
       'Commission Indicator', 'Tax or fees', 'Tax 2', 'Tax or fees indicator',
       'Interest', 'Interest indicator', 'Net Amount', 'Hearsay Ind',
       'Custodian', 'Money Manager', 'Book id', 'Deal Id', 'TaxLot Id',
       'Original taxlot transaction date', 'Original Taxlot transaction price',
       'TaxLot Closeout Method', 'Exchange Rate', 'Acquisition Date',
       'Comments', 'Asset Type', 'Trader ID'],
      dtype='object')

In [16]:
ndf[ndf.columns[26:]]

,Tax or fees indicator,Interest,Interest indicator,Net Amount,Hearsay Ind,Custodian,Money Manager,Book id,Deal Id,TaxLot Id,Original taxlot transaction date,Original Taxlot transaction price,TaxLot Closeout Method,Exchange Rate,Acquisition Date,Comments,Asset Type,Trader ID
0,,,,31193028.33,,,,,,,,,,,,CASH,STOCK,
1,,,,26930626.95,,,,,,,,,,,,CASH,STOCK,
2,,,,100374.65,,,,,,,,,,,,CASH,STOCK,
3,,,,115950.03,,,,,,,,,,,,CASH,STOCK,
4,,,,2918137.16,,,,,,,,,,,,CASH,STOCK,
5,,,,2513096.04,,,,,,,,,,,,CASH,STOCK,
6,,,,240833.54,,,,,,,,,,,,CASH,STOCK,
7,,,,347248.36,,,,,,,,,,,,CASH,STOCK,
8,,,,18125513.58,,,,,,,,,,,,CASH,STOCK,
9,,,,15544931.98,,,,,,,,,,,,CASH,STOCK,

In [9]:
out_path, cliente, td = salva_excel('KINEA', df, td)

In [10]:
email.email_sender(email_saida, 'middleKinea@kinea.com.br;guilherme.colombini@kinea.com.br;ricardo-yukio.sakai@kinea.com.br;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## Locais

### Mexico

In [7]:
ndf, td = get_any(df, 'Exchange ID', 'MEX', ['Exchange ID', 'trade_date', 'settlement_date', 'Broker of Interest code', 'Client/Book', 'Fund ID', 'Symbol',
        'Isin code', 'Unnamed: 9', 'Volume', 'AvgPrc', 'Gross consideration', 'Comm rate', 'Comm type', 
         'Dealt to settlement exchange rate', 'Settlement consideration', 'Settlement currency ID'],
       ['Market','TD','SD','Client Account','Client Group','Client Allocation','Security','ISIN','Buy/Sell','Amount',
        'Price','Principal','Comm','Comm Type','FX Rate','Net amount ','Settle CCY'])

In [8]:
ndf['Matched']='No'
ndf['Settled']='No'
ndf = ndf.sort_values(by='Client Group')

In [9]:
lista_blackrock = []
if ndf[ndf['Client Group']=='BLACKROCK'].shape[0]!=0:
    lista_blackrock = ndf[ndf['Client Group']=='BLACKROCK']['Client Allocation'].drop_duplicates().tolist()
    for item in lista_blackrock:
        string = r'C:\Users\correigu\OneDrive - Banco BTG Pactual S.A\Documents\SSIs\BlackRock\BalckRock'
        lista_blackrock = [string+x+'.pdf' for x in lista_blackrock]

In [10]:
out_path, cliente, td = salva_excel('BTG Pactual - Mexico', df, td)
out_path = [out_path]

In [11]:
if len(lista_blackrock) >0:
    for fname in lista_blackrock:
        c = os.path.isfile(fname)
        if c==True:
            out_path.append(fname)

In [12]:
out_path

['\\\\DRIOC0231PFS\\Apoio_SB\\Geral\\BD\\Confirmations\\Confirmacoes_python\\BTG Pactual - Mexico TD 9-4.xlsx']

In [13]:
send_to = 'Elena.Gomez@btgpactual.com;Francisco.Acosta@btgpactual.com;Luis.Paz@btgpactual.com;OL-EQUITYBD@btgpactual.com'
email.email_sender(email_saida, send_to, 
            'Trades Confirmation - %s - TD %s' %(cliente, td),
             'Attached you may find the confirmation for the trades done on %s' % td, 
             out_path)

### Celfin

#### Peru

In [14]:
ndf, td = get_any(df, 'Exchange ID', 'LMA', ['Exchange ID', 'trade_date', 'settlement_date', 'Client/Book', 'Fund ID', 'Symbol',
        'Unnamed: 9', 'AvgPrc', 'Volume',  'Comm rate.1','Settlement consideration','Service'], \
                  ['Exchange', 'Trade Date', 'Settlement Date', 'Client/Book','Fund ID', 'Symbol', 'Side',
                   'Average Price', 'Quantity','Commission rate','Settlement Amount','Type'])
ndf = ndf.sort_values(by='Client/Book')

No exchange rates

In [15]:
lista_blackrock = []
if ndf[ndf['Client/Book']=='BLACKROCK'].shape[0]!=0:
    lista_blackrock = ndf[ndf['Client/Book']=='BLACKROCK']['Fund ID'].drop_duplicates().tolist()
    for item in lista_blackrock:
        string = r'C:\Users\correigu\OneDrive - Banco BTG Pactual S.A\Documents\SSIs\BlackRock\BalckRock'
        lista_blackrock = [string+x+'.pdf' for x in lista_blackrock]

In [16]:
ndf

,Exchange,Trade Date,Settlement Date,Client/Book,Fund ID,Symbol,Side,Average Price,Quantity,Commission rate,Settlement Amount,Type
0,LMA,2018-09-04,2018-09-06,EQUINOX,EQUINOX_PARTNERS,FERREYC1.LM,S,2.3,355852,45.0,814776.53,EML SUM
1,LMA,2018-09-04,2018-09-06,EQUINOX,KUROTO_KOP03,FERREYC1.LM,S,2.3,229011,45.0,524355.04,EML SUM
2,LMA,2018-09-04,2018-09-06,EQUINOX,KUROTO_KOP01,FERREYC1.LM,S,2.3,151113,45.0,345995.88,EML SUM
3,LMA,2018-09-04,2018-09-06,EQUINOX,E_MASON_HILL,FERREYC1.LM,S,2.3,38499,45.0,88149.24,EML SUM

In [17]:
out_path, cliente, td = salva_excel('BTG Pactual - Peru', df, td)
out_path = [out_path]

In [18]:
if len(lista_blackrock) >0:
    for fname in lista_blackrock:
        c = os.path.isfile(fname)
        if c==True:
            out_path.append(fname)

In [19]:
out_path

['\\\\DRIOC0231PFS\\Apoio_SB\\Geral\\BD\\Confirmations\\Confirmacoes_python\\BTG Pactual - Peru TD 9-4.xlsx']

In [20]:
send_to = 'OL-EQUITYBD@btgpactual.com;OL-Equipo.Operaciones.Peru@btgpactual.com'
email.email_sender(email_saida, send_to, 
            'Trades Confirmation - %s - TD %s' %(cliente, td),
             'Attached you may find the confirmation for the trades done on %s' % td, 
             out_path)

#### Colombia

In [21]:
ndf, td = get_any(df, 'Exchange ID', 'COL', ['Exchange ID', 'trade_date', 'settlement_date', 'Client/Book', 'Fund ID', 'Symbol',
        'Unnamed: 9', 'AvgPrc', 'Volume',  'Comm rate.1','Market charges total'],['Exchange', 'Trade Date', 'Settlement Date', 'Client/Book',
                                                       'Fund ID', 'Symbol', 'Side','Average Price', 'Quantity',
                                                        'Commission rate','Market charges total'])
ndf = ndf.sort_values(by='Client/Book')

IndexError: index out of bounds

In [ ]:
lista_blackrock = []
if ndf[ndf['Client/Book']=='BLACKROCK'].shape[0]!=0:
    lista_blackrock = ndf[ndf['Client/Book']=='BLACKROCK']['Fund ID'].drop_duplicates().tolist()
    for item in lista_blackrock:
        string = r'C:\Users\correigu\OneDrive - Banco BTG Pactual S.A\Documents\SSIs\BlackRock\BalckRock'
        lista_blackrock = [string+x+'.pdf' for x in lista_blackrock]

In [23]:
ndf

,Exchange,Trade Date,Settlement Date,Client/Book,Fund ID,Symbol,Side,Average Price,Quantity,Commission rate,Market charges total
0,COL,2018-08-27,2018-08-30,ARMADA,MS_ARMADA,CLH.BG,B,6100.0,320000,15.0,0.0
1,COL,2018-08-27,2018-08-30,COMPASS,FCR,CLH.BG,S,6100.0,192768,10.0,0.0
2,COL,2018-08-27,2018-08-30,CONSILIUM,LEGATO,CLH.BG,S,6100.0,96784,30.0,0.0
3,COL,2018-08-27,2018-08-30,CONSILIUM,CEMSCLP,CLH.BG,S,6100.0,13748,30.0,0.0

In [24]:
lista_blackrock

[]

In [25]:
out_path, cliente, td = salva_excel('BTG Pactual - Colombia', df, td)
out_path = [out_path]

In [26]:
if len(lista_blackrock) >0:
    for fname in lista_blackrock:
        c = os.path.isfile(fname)
        if c==True:
            out_path.append(fname)

In [27]:
out_path

['\\\\DRIOC0231PFS\\Apoio_SB\\Geral\\BD\\Confirmations\\Confirmacoes_python\\BTG Pactual - Colombia TD 8-27.xlsx']

In [28]:
send_to = 'OL-OPSColombia-BD@btgpactual.com;SH-LatamBD@btgpactual.com;Nicolas.Velasquez@btgpactual.com;OL-EQUITYBD@btgpactual.com'
email.email_sender(email_saida, send_to, 
            'Trades Confirmation - %s - TD %s' %(cliente, td),
             'Attached you may find the confirmation for the trades done on %s' % td, 
             out_path)

#### Chile

In [14]:
ndf, td = get_any(df, 'Exchange ID', 'SGO', ['Exchange ID', 'trade_date', 'settlement_date', 'Client/Book', 'Fund ID', 'Symbol',
        'Unnamed: 9', 'AvgPrc', 'Volume',  'Comm rate.1'],['Exchange', 'Trade Date', 'Settlement Date', 'Client/Book',
                                                       'Fund ID', 'Symbol', 'Side','Average Price', 'Quantity',
                                                        'Commission rate'])

No exchange rates

In [15]:
out_path, cliente, td = salva_excel('BTG Pactual Chile', df, td)

In [16]:
ndf

,Exchange,Trade Date,Settlement Date,Client/Book,Fund ID,Symbol,Side,Average Price,Quantity,Commission rate
0,SGO,2018-07-09,2018-07-11,WELLS_CAP,EMINCOME,SQM-B.SN,B,31966.43095,26909,30.0
1,SGO,2018-07-09,2018-07-11,WELLS_CAP,LUXTOTAL,SQM-B.SN,B,31966.43095,18900,30.0
2,SGO,2018-07-09,2018-07-11,WELLS_CAP,EMI3C,SQM-B.SN,B,31966.43095,11500,30.0
3,SGO,2018-07-09,2018-07-11,WELLS_CAP,ONETOT,SQM-B.SN,B,31966.43095,3290,30.0
4,SGO,2018-07-09,2018-07-11,WELLS_CAP,OMGEMI,SQM-B.SN,B,31966.43095,1900,30.0
5,SGO,2018-07-09,2018-07-11,WELLS_CAP,HFEM,SQM-B.SN,B,31966.43095,1500,30.0
6,SGO,2018-07-09,2018-07-11,WELLS_CAP,HCFEM,SQM-B.SN,B,31966.43095,975,30.0
7,SGO,2018-07-09,2018-07-11,WELLS_CAP,MAX,SQM-B.SN,B,31966.43095,510,30.0
8,SGO,2018-07-09,2018-07-11,WELLS_CAP,MCDIV,SQM-B.SN,B,31966.43095,503,30.0
9,SGO,2018-07-09,2018-07-11,WELLS_CAP,DAIWAEM,SQM-B.SN,B,31966.43095,97,30.0

In [ ]:
email.email_sender(email_saida, 'guilherme.correia@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
             [out_path])

## Claritas

In [7]:
ndf, td, data = get_claritas(df)

In [8]:
data = ndf['Execution Date'].drop_duplicates().reset_index(drop=True)[0]

In [9]:
ano = "{:02}".format(data.year)
mes = "{:02}".format(data.month)
dia = "{:02}".format(data.day)

ref_pasta = str(ano)+str(mes)+str(dia)
data = str(dia)+'/'+str(mes)+'/'+str(ano)

j = ndf.shape[0]

In [10]:
out_path, cliente, td = salva_excel('CLARITAS', df, td)

In [11]:
ndf

,Name of Fund,Execution Date,Settlement Date,Side,Ticker,ISIN Number,Quantity,Avg Price,Commission,SEC Fee,FX RATE,Gross Amount,NetAmount,Sett CCY
0,ANDES,2018-10-24,2018-10-26,S,CEMEXCPO.MX,MXP225611567,75082,10.5700,1587.23,0.0,1,7.936167e+05,792029.51,MXN
1,ANDES,2018-10-24,2018-10-26,S,ALPEKA.MX,MX01AL0C0004,47811,29.3163,2803.28,0.0,1,1.401642e+06,1398838.34,MXN
2,ANDES,2018-10-24,2018-10-26,B,ASURB.MX,MXP001661018,11790,329.8113,7776.95,0.0,1,3.888475e+06,3896252.18,MXN
3,ANDES,2018-10-24,2018-10-26,S,IENOVA*.MX,MX01IE060002,10077,90.4681,1823.29,0.0,1,9.116470e+05,909823.75,MXN
4,ANDES,2018-10-24,2018-10-26,S,KOFL.MX,MXP2861W1067,7609,116.0101,1765.44,0.0,1,8.827209e+05,880955.41,MXN

In [12]:
## ENTRA NO E-MAIL PARA PEGAR AS CONFIRMAÇÕES EM PDF
email.email_confirmation('Claritas', 'CLARITAS', data, email_saida, ['confirmations'], 'Caixa de Entrada', j)

Guilherme.Correia@btgpactual.com
Caixa de Entrada
confirmations

In [13]:
## VOCÊ TEM QUE ALTERAR A DATA ABAIXO MANUALMENTE
ref_pasta = ano+mes+dia
ref_pasta

'20181024'

In [14]:
pasta = r'C:\Users\correigu\OneDrive - Banco BTG Pactual S.A\Documents\offshore\Claritas'+'\\'+ref_pasta

In [15]:
pasta

'C:\\Users\\correigu\\OneDrive - Banco BTG Pactual S.A\\Documents\\offshore\\Claritas\\20181024'

In [16]:
lista_files = [out_path]
for file in os.listdir(pasta):
    lista_files.append(pasta+'\\'+file)
    
print ('Serão anexados %s arquivos ao e-mail' % len(lista_files))

Serão anexados 6 arquivos ao e-mail

In [17]:
email.email_sender(email_saida, 'marcia.santos@claritas.com.br;luis.faloppa@claritas.com.br;lucas.barbosa@claritas.com.br;pichiledesarrolloci@exchange.principal.com;leonardo.costa@claritas.com.br;DLPICHILECUSTODIAVALORES@exchange.principal.com;salinas.amelia@principal.com;PICHILETESORERIAAGF@exchange.principal.com;ClaritasBackOffshore@claritas.com.br;OL-EQUITYBD@btgpactual.com', 
            'Confirmação de movimentações %s TD %s' %(cliente, td),
             'Em anexo estão as movimentações do dia %s' % td, 
            lista_files)