In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

import datetime
import pandas as pd
import numpy as np
import getpass

%matplotlib inline

In [2]:
pasta = r'C:\Users\correigu\OneDrive - Banco BTG Pactual S.A\Desktop\files_maira\Outros'

In [7]:
for file in os.listdir(pasta):
    try:
        df
    except:
        df = pd.read_excel(pasta+'\\'+file)
    else:
        df1 = pd.read_excel(pasta+'\\'+file)
        df = pd.concat([df, df1], axis=0)

In [11]:
df['Trade Date'] = pd.to_datetime(df['Trade Date'], format='%d/%m/%Y', errors='coerce')

In [13]:
df['month'] = df['Trade Date'].dt.month
df['year'] = df['Trade Date'].dt.year

In [14]:
df['count_trades'] = 1

In [19]:
df.groupby(by=['year','month']).sum()[['count_trades']].reset_index().to_excel('trades_2015.xlsx')

In [22]:
file_wm = r'\\DRIOC0231PFS\Apoio_SB\Geral\BD\TRADE ACTIVITY WM.xlsx'

In [23]:
wm = pd.read_excel(file_wm)

In [25]:
wm.columns

Index(['Trade Date', 'Process Date', 'Account#', 'Short Name', 'Office#',
       'IP#', 'Symbol', 'Product Type', 'Source of input', 'Buy/Sell',
       'Number Of Shares', 'Execution Price', 'Total Amount', 'AGE',
       'Account Master Mnemonic', 'Account Mnemonic', 'Account Type',
       'Batch Code', 'Blotter code', 'Commission Amount', 'Cusip Number',
       'Employment Status', 'Exchange Code', 'IBD', 'Income',
       'Investment Objective', 'Issue Currency', 'Misc Fee Amount', 'NetWorth',
       'Order Quantity', 'Other Fee Amount', 'Principal Amount',
       'Risk Exposure', 'SEC Fee Amount', 'Sale Credit Amount',
       'Security Name', 'Settlement Date', 'Solicited Indicator', 'Tax Amount',
       'Trade Disposition', 'Trade Ref#', 'Trade Type', 'Type of Entry Code',
       'Type of Entry Code Description'],
      dtype='object')

In [28]:
wm.columns=['trade_date', 'process_date', 'account_number', 'short_name', 'office_number',
       'ip_number', 'symbol', 'product_type', 'source_of_input', 'side',
       'number_of_shares', 'execution_price', 'total_amount', 'age',
       'account_master_mnemonic', 'account_mnemonic', 'account_type',
       'batch_code', 'blotter_code', 'commission_amount', 'cusip_number',
       'employment_status', 'exchange_code', 'ibd', 'income',
       'investment_objective', 'issue_currency', 'misc_fee_amount', 'networth',
       'order_quantity', 'other_fee_amount', 'principal_amount',
       'risk_exposure', 'sec_fee_amount', 'sale_credit_amount',
       'security_name', 'settlement_date', 'solicited_indicator', 'tax_amount',
       'trade_disposition', 'trade_ref_number', 'trade_type', 'type_of_entry_code',
       'type_of_entry_code_description']

In [32]:
wm = wm[wm['account_number'].str[:3]!='J5B']

In [33]:
wm = wm[wm['account_number'].str[:3]!='LBG']

In [37]:
canceled = wm[wm['trade_disposition']=='Cancel']['trade_ref_number']

In [38]:
wm = wm[wm['trade_disposition']!='Cancel']

In [42]:
wm = wm[wm['trade_ref_number'].isin(canceled)==False]

In [52]:
wm = wm[wm['account_number'].str[3:5]!='89']

In [53]:
wm['qt_trades'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [60]:
wm = wm[wm['trade_date']!='Report Generated on 08/28/18 14.31.34']

In [63]:
wm = wm[wm['trade_date'].isnull()==False]

In [64]:
wm['trade_date'] = pd.to_datetime(wm['trade_date'], format='%m/%d/%Y')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [66]:
wm['month'] = wm['trade_date'].dt.month
wm['year'] = wm['trade_date'].dt.year

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [74]:
por_tipo = wm.groupby(by=['product_type','year','month']).sum()[['qt_trades']].reset_index()

In [75]:
por_tipo

               product_type  year  month  qt_trades
0    ALTERNATIVE INVESTMENT  2017      3          6
1    ALTERNATIVE INVESTMENT  2017      4         12
2    ALTERNATIVE INVESTMENT  2017      5          5
3    ALTERNATIVE INVESTMENT  2017      6          3
4    ALTERNATIVE INVESTMENT  2017      7          2
5    ALTERNATIVE INVESTMENT  2017      8         11
6    ALTERNATIVE INVESTMENT  2017      9          4
7    ALTERNATIVE INVESTMENT  2017     10          3
8    ALTERNATIVE INVESTMENT  2017     11          5
9    ALTERNATIVE INVESTMENT  2017     12          1
10   ALTERNATIVE INVESTMENT  2018      1         28
11   ALTERNATIVE INVESTMENT  2018      2          7
12   ALTERNATIVE INVESTMENT  2018      3         10
13   ALTERNATIVE INVESTMENT  2018      4          8
14   ALTERNATIVE INVESTMENT  2018      5          5
15   ALTERNATIVE INVESTMENT  2018      6          2
16   ALTERNATIVE INVESTMENT  2018      7         10
17     CASH AND EQUIVALENTS  2015      1          3
18     CASH AND EQUIVALENTS  2015      2          6
19     CASH AND EQUIVALENTS  2015      3          4
20     CASH AND EQUIVALENTS  2015      4          1
21     CASH AND EQUIVALENTS  2015      5          2
22     CASH AND EQUIVALENTS  2015      6          7
23     CASH AND EQUIVALENTS  2015      7          8
24     CASH AND EQUIVALENTS  2015      8          6
25     CASH AND EQUIVALENTS  2015      9          7
26     CASH AND EQUIVALENTS  2015     10          9
27     CASH AND EQUIVALENTS  2015     11          5
28     CASH AND EQUIVALENTS  2015     12          7
29     CASH AND EQUIVALENTS  2016      1          6
..                      ...   ...    ...        ...
245                  OPTION  2016      1          8
246                  OPTION  2016      2         25
247                  OPTION  2016      3          3
248                  OPTION  2016      4         24
249                  OPTION  2016      5          9
250                  OPTION  2016      6         22
251                  OPTION  2016      7          4
252                  OPTION  2016      9         39
253                  OPTION  2016     10          4
254                  OPTION  2016     11         31
255                  OPTION  2016     12         16
256                  OPTION  2017      1          2
257                  OPTION  2017      2          3
258                  OPTION  2017      3          5
259                  OPTION  2017      4         18
260                  OPTION  2017      5          7
261                  OPTION  2017      6          1
262                  OPTION  2017      7         25
263                  OPTION  2017      8         36
264                  OPTION  2017      9         31
265                  OPTION  2017     10         42
266                  OPTION  2017     11         31
267                  OPTION  2017     12         26
268                  OPTION  2018      1        408
269                  OPTION  2018      2         16
270                  OPTION  2018      3        136
271                  OPTION  2018      4         67
272                  OPTION  2018      5         69
273                  OPTION  2018      6        104
274                  OPTION  2018      7          8

[275 rows x 4 columns]

In [76]:
dict_month = {
    1:'jan',
    2:'fev',
    3:'mar',
    4:'abr',
    5:'mai',
    6:'jun',
    7:'jul',
    8:'ago',
    9:'set',
    10:'out',
    11:'nov',
    12:'dez'
}

In [78]:
por_tipo['month'] = por_tipo['month'].map(dict_month)

In [79]:
por_tipo['data'] = por_tipo['month'] + por_tipo['year'].astype(str)

In [83]:
pd.pivot_table(por_tipo, values=['qt_trades'], index='data', columns = 'product_type').to_excel('qt_WM_por_tipo.xlsx')

In [85]:
wm.to_excel('raw_wm.xlsx')