In [1]:
import os
import sys
sys.path.append('%s/../' % os.getcwd())

In [2]:
%%time
import pandas as pd
import numpy as np
import datetime

from db import queries
from db import conexao
c = conexao.Conexao()
connection = c.con

#baixa tabela
#dt_scs = c.query('select * from swapbcb_estoque')

Você está conectando em outro computador
Conexao <Engine(mysql+mysqldb://guilherme:***@datascience2:3306/breakdown-fundos?charset=utf8)>
Você está conectando em outro computador
Conexao <Engine(mysql+mysqldb://guilherme:***@datascience2:3306/breakdown-fundos?charset=utf8)>
Wall time: 417 ms

In [8]:
#informações do aquivo de SCS do bacen. Disponível em: http://www.bcb.gov.br/htms/selic/selicedital.asp?idpai=SELICOFERTA
pasta = r"C:\Users\guilherme.oliveira\OneDrive - Rio Bravo\Documents\SWAP"
arquivo=r"\db_babi2.csv"
path = pasta+arquivo
raw = pd.read_csv(path, sep=";")
raw = raw.fillna(0.0)

In [9]:
raw

         ativo nome  ultimo     fech       volume        data     ano  month
0       ABCP11    0       0    10.26            0  02/01/2014  2014.0    1.0
1       AEFI11    0     115   115.00        91043  02/01/2014  2014.0    1.0
2       AGCX11    0       0     0.00            0  02/01/2014  2014.0    1.0
3      ALMI11B    0    3110  3110.00     31129.03  02/01/2014  2014.0    1.0
4      BBFI11B    0    3842  3842.00        88833  02/01/2014  2014.0    1.0
5       BBPO11    0  104.99   104.99   1574573.34  02/01/2014  2014.0    1.0
6       BBRC11    0      78    78.00     53597.01  02/01/2014  2014.0    1.0
7       BBVJ11    0    66.8    66.80    493203.71  02/01/2014  2014.0    1.0
8      BCFF11B    0      91    91.00    289586.85  02/01/2014  2014.0    1.0
9      BMLC11B    0   114.5   114.50        72135  02/01/2014  2014.0    1.0
10      BPFF11    0      80    80.00    131978.82  02/01/2014  2014.0    1.0
11      BRCR11    0     134   134.00   1648170.78  02/01/2014  2014.0    1.0
12     CEOC11B    0   77.01    77.01    404946.16  02/01/2014  2014.0    1.0
13     CNES11B    0     123   123.00      2706.03  02/01/2014  2014.0    1.0
14     CSHP11B    0  995.01   995.01       995.01  02/01/2014  2014.0    1.0
15      CXTL11    0       0     0.00            0  02/01/2014  2014.0    1.0
16     EDGA11B    0    74.4    74.40    193934.31  02/01/2014  2014.0    1.0
17      EURO11    0       0     0.00            0  02/01/2014  2014.0    1.0
18     FAED11B    0   139.5   139.50       1813.5  02/01/2014  2014.0    1.0
19     FAMB11B    0    4100  4100.00    213280.01  02/01/2014  2014.0    1.0
20     FCFL11B    0    1178  1178.00      7062.02  02/01/2014  2014.0    1.0
21     FEXC11B    0  110.01   110.01    120247.83  02/01/2014  2014.0    1.0
22      FFCI11    0    1.57     1.57     29115.52  02/01/2014  2014.0    1.0
23      FIGS11    0       0     0.00            0  02/01/2014  2014.0    1.0
24      FIIB11    0       0     0.00            0  02/01/2014  2014.0    1.0
25     FIIP11B    0     166   166.00       7439.5  02/01/2014  2014.0    1.0
26      FIXX11    0       0     0.00            0  02/01/2014  2014.0    1.0
27      FLMA11    0    2.07     2.07      8726.29  02/01/2014  2014.0    1.0
28     FLRP11B    0     525   525.00     141612.5  02/01/2014  2014.0    1.0
29      FMOF11    0       0     0.00            0  02/01/2014  2014.0    1.0
...        ...  ...     ...      ...          ...         ...     ...    ...
77102   HCRI11    0   297.4   297.00      24683.1  07/07/2017  2017.0    7.0
77103   NSLU11    0  228.95   227.00        53750  07/07/2017  2017.0    7.0
77104   HTMX11    0  118.15   118.01      79358.5  07/07/2017  2017.0    7.0
77105   FIIB11    0     370   371.00      60204.9  07/07/2017  2017.0    7.0
77106   RBBV11    0      64    63.52      9705.96  07/07/2017  2017.0    7.0
77107   JSRE11    0    99.7    99.80       595302  07/07/2017  2017.0    7.0
77108   KNRE11    0    0.98     1.02        15007  07/07/2017  2017.0    7.0
77109   KNIP11    0  103.93   104.50      89828.1  07/07/2017  2017.0    7.0
77110   KNRI11    0   148.1   147.26   2.1932e+06  07/07/2017  2017.0    7.0
77111   KNCR11    0   103.3   103.40  3.57182e+06  07/07/2017  2017.0    7.0
77112   MXRF11    0    9.49     9.57       450340  07/07/2017  2017.0    7.0
77113   FMOF11    0   106.5   106.50       3727.5  07/07/2017  2017.0    7.0
77114   MBRF11    0     997   986.04        62398  07/07/2017  2017.0    7.0
77115   MFII11    0  116.79   118.00       468842  07/07/2017  2017.0    7.0
77116  DRIT11B    0     140   140.00         9380  07/07/2017  2017.0    7.0
77117   OUJP11    0     110   107.50         5500  07/07/2017  2017.0    7.0
77118   PQDP11    0    2610  2587.70       178844  07/07/2017  2017.0    7.0
77119   FPAB11    0     312   315.00         1872  07/07/2017  2017.0    7.0
77120   RBDS11    0     380   380.00       109751  07/07/2017  2017.0    7.0
77121   RBGS11    0    40.6    40.75      49491.9  07/07/2017  2017.0    7.0
77122  FIIP11B    0     196   194.00       786.98  07/07/2017  2017.0    7.0
77123   RBRD11    0   82.99    82.96      5311.89  07/07/2017  2017.0    7.0
77124   RBVO11    0   69.44    69.46       486.08  07/07/2017  2017.0    7.0
77125   FFCI11    0  178.57   178.70       243610  07/07/2017  2017.0    7.0
77126   RNGO11    0    89.1    89.92       153257  07/07/2017  2017.0    7.0
77127   SAAG11    0  126.22   126.28       625826  07/07/2017  2017.0    7.0
77128   SCPF11    0   11.97    11.27       143.64  07/07/2017  2017.0    7.0
77129   SDIL11    0   88.73    87.99       155708  07/07/2017  2017.0    7.0
77130   JRDM11    0      83    83.90      75448.9  07/07/2017  2017.0    7.0
77131  WPLZ11B    0   75.25    79.85      25025.3  07/07/2017  2017.0    7.0

[77132 rows x 8 columns]

In [10]:
raw.dtypes

ativo      object
nome       object
ultimo     object
fech      float64
volume     object
data       object
ano       float64
month     float64
dtype: object

In [13]:
raw['data']=pd.to_datetime(raw['data'], format='%d/%m/%Y')
#raw['ultimo']=raw['ultimo'].astype(float)
raw['fech']=raw['fech'].astype(float)
#raw['volume']=raw['volume'].astype(float)
raw['ano']=raw['ano'].astype(int)
raw['mes']=raw['month'].astype(int)

In [14]:
raw.dtypes

ativo             object
nome              object
ultimo            object
fech             float64
volume            object
data      datetime64[ns]
ano                int32
month            float64
mes                int32
dtype: object

In [7]:
rawdb=raw[['comunicado','date','codigo','data_inicio_contrato','data_vencimento','prazo_dias_corridos','qtd_contratos_lancados',
          'qtd_negocios_aceitos','tx_nominal','tx_linear','serie']].copy()

In [8]:
rawdb

,comunicado,date,codigo,data_inicio_contrato,data_vencimento,prazo_dias_corridos,qtd_contratos_lancados,qtd_negocios_aceitos,tx_nominal,tx_linear,serie
0,16294,2007-11-27,SCS,2007-12-03,2008-04-01,120,12500,12500,5.7433,5.620,NaN
1,16294,2007-11-27,SCS,2007-12-03,2008-10-01,303,12400,12400,5.7317,5.690,NaN
2,16294,2007-11-27,SCS,2007-12-03,2009-04-01,485,5500,5500,5.6554,5.705,NaN
3,16294,2007-11-27,SCS,2007-12-03,2010-01-04,763,5500,5500,5.5248,5.681,NaN
4,16376,2007-12-21,SCS,2008-01-02,2008-04-01,90,10150,10150,5.7040,5.601,NaN
5,16376,2007-12-21,SCS,2008-01-02,2008-10-01,273,8300,8300,5.3437,5.300,NaN
6,16376,2007-12-21,SCS,2008-01-02,2009-04-01,455,6400,6400,5.0863,5.115,NaN
7,16376,2007-12-21,SCS,2008-01-02,2010-01-04,733,6000,6000,4.8835,4.990,NaN
8,16475,2008-01-30,SCS,2008-02-01,2008-05-02,91,15100,15000,4.0601,4.040,NaN
9,16475,2008-01-30,SCS,2008-02-01,2008-11-03,276,13000,13000,4.1283,4.090,NaN
10,16475,2008-01-30,SCS,2008-02-01,2009-07-01,516,6500,4500,3.9987,4.025,NaN
11,16475,2008-01-30,SCS,2008-02-01,2010-04-01,790,6500,6500,3.9160,3.995,NaN
12,16558,2008-02-27,SCS,2008-03-03,2008-07-01,120,10800,10800,4.4099,4.320,NaN
13,16558,2008-02-27,SCS,2008-03-03,2008-11-03,245,10300,10300,4.3432,4.270,NaN
14,16558,2008-02-27,SCS,2008-03-03,2009-10-01,577,4200,4200,4.2011,4.230,NaN
15,16558,2008-02-27,SCS,2008-03-03,2010-04-01,759,8800,8800,4.2491,4.330,NaN
16,16678,2008-03-26,SCS,2008-04-01,2008-08-01,122,10900,10900,3.3749,3.310,NaN
17,16678,2008-03-26,SCS,2008-04-01,2008-12-01,244,10250,10250,3.4568,3.410,NaN
18,16678,2008-03-26,SCS,2008-04-01,2010-04-01,730,10800,10800,3.7481,3.802,NaN
19,16678,2008-03-26,SCS,2008-04-01,2011-01-03,1,11300,11300,4.1275,4.260,NaN
20,16827,2008-04-25,SCS,2008-05-02,2008-09-01,122,12100,12100,3.0320,2.950,NaN
21,16827,2008-04-25,SCS,2008-05-02,2008-12-01,213,10200,10000,3.2674,3.210,NaN
22,16827,2008-04-25,SCS,2008-05-02,2010-04-01,699,7600,7500,3.7207,3.765,NaN
23,16827,2008-04-25,SCS,2008-05-02,2011-01-03,976,7800,7600,3.9606,4.071,NaN
24,16940,2008-05-28,SCS,2008-06-02,2008-09-01,91,14000,14000,2.7200,2.651,NaN
25,16940,2008-05-28,SCS,2008-06-02,2008-12-01,182,13700,13700,3.2335,3.180,NaN
26,16940,2008-05-28,SCS,2008-06-02,2009-10-01,486,8400,8400,4.1107,4.121,NaN
27,16940,2008-05-28,SCS,2008-06-02,2010-04-01,668,6700,6700,4.4484,4.520,NaN
28,16940,2008-05-28,SCS,2008-06-02,2011-01-03,945,6700,6700,4.8259,5.000,NaN
29,17056,2008-06-27,SCS,2008-07-01,2008-11-03,125,9500,9500,3.5131,3.419,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2799,30879,2017-06-20,SCS,2017-07-03,2017-10-02,91,8200,2000,2.4256,2.365,1.0
2800,30879,2017-06-20,SCS,2017-07-03,2018-01-02,183,8200,1000,2.4844,2.430,1.0
2801,30879,2017-06-20,SCS,2017-07-03,2018-04-02,273,8200,5200,2.5282,2.499,1.0
2802,30883,2017-06-21,SCS,2017-07-03,2017-10-02,91,8200,2500,2.4557,2.394,1.0
2803,30883,2017-06-21,SCS,2017-07-03,2018-01-02,183,8200,0,0.0000,0.000,1.0
2804,30883,2017-06-21,SCS,2017-07-03,2018-04-02,273,8200,5700,2.5495,2.520,1.0
2805,30889,2017-06-22,SCS,2017-07-03,2017-10-02,91,8200,500,2.3997,2.340,1.0
2806,30889,2017-06-22,SCS,2017-07-03,2018-01-02,183,8200,1000,2.4640,2.410,1.0
2807,30889,2017-06-22,SCS,2017-07-03,2018-04-02,273,8200,6700,2.5394,2.510,1.0
2808,30892,2017-06-23,SCS,2017-07-03,2017-10-02,91,8200,2000,2.4182,2.358,1.0
2809,30892,2017-06-23,SCS,2017-07-03,2018-01-02,183,8200,1300,2.4434,2.390,1.0
2810,30892,2017-06-23,SCS,2017-07-03,2018-04-02,273,8200,4900,2.4989,2.470,1.0
2811,30904,2017-06-26,SCS,2017-07-03,2017-10-02,91,8200,0,0.0000,0.000,1.0
2812,30904,2017-06-26,SCS,2017-07-03,2018-01-02,183,8200,1500,2.3511,2.300,1.0
2813,30904,2017-06-26,SCS,2017-07-03,2018-04-02,273,8200,6700,2.4281,2.400,1.0
2814,30907,2017-06-27,SCS,2017-07-03,2017-10-02,91,8200,0,0.0000,0.000,1.0
2815,30907,2017-06-27,SCS,2017-07-03,2018-01-02,183,8200,0,0.0000,0.000,1.0
2816,30907,2017-06-27,SCS,2017-07-03,2018-04-02,273,8200,8200,2.3376,2.310,1.0
2817,30910,2017-06-28,SCS,2017-07-03,2017-10-02,91,8200,0,0.0000,0.000,1.0
2818,30910,2017-06-28,SCS,2017-07-03,2018-01-02,183,8200,2400,2.2178,2.169,1.0
2819,30910,2017-06-28,SCS,2017-07-03,2018-04-02,273,8200,5800,2.2969,2.270,1.0
2820,30917,2017-06-29,SCS,2017-07-03,2017-10-02,91,7600,0,0.0000,0.000,1.0
2821,30917,2017-06-29,SCS,2017-07-03,2018-01-02,183,7600,0,0.0000,0.000,1.0
2822,30917,2017-06-29,SCS,2017-07-03,2018-04-02,273,7600,7600,2.2464,2.220,1.0
2823,30959,2017-07-10,SCS,2017-08-01,2017-10-02,62,8300,0,0.0000,0.000,1.0
2824,30959,2017-07-10,SCS,2017-08-01,2018-01-02,154,8300,2550,2.1201,2.077,1.0
2825,30959,2017-07-10,SCS,2017-08-01,2018-04-02,244,8300,5750,2.2110,2.188,1.0
2826,30963,2017-07-11,SCS,2017-08-01,2017-10-02,62,8300,1750,1.9369,1.900,1.0
2827,30963,2017-07-11,SCS,2017-08-01,2018-01-02,154,8300,1900,2.1322,2.089,1.0
2828,30963,2017-07-11,SCS,2017-08-01,2018-04-02,244,8300,4650,2.2232,2.200,1.0

In [9]:
rawdb.to_sql(con=connection, name='swapbcb_estoque', if_exists='replace', index=False)