In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

In [2]:
import datetime
import pandas as pd
import numpy as np

import getpass


import docx as docx
import comtypes.client

In [3]:
from aux_emails import email_sender

In [4]:
pasta = r'C:\Users\%s\Downloads' % getpass.getuser()

In [5]:
for i in range(500,0,-1):
    path = r'C:\Users\%s\Downloads\unknown0_export (%s).xls' % (getpass.getuser(), str(i))
    try:
        pd.read_excel(path, sep=';', encoding = 'latin1')
    except:
        continue
    else:
        df = pd.read_excel(path, sep=';', encoding = 'latin1')
        print (path)
        break

C:\Users\correigu\Downloads\unknown0_export (1).xls

In [6]:
df = df[['Horário do Negócio', 'Número do Negócio', 'Código de Negociação', 'Preço', 'Quantidade Alocada','Participante Origem',
       'Conta Origem', 'Conta Destino']].rename(columns = {
    'Horário do Negócio':'Data de negociação',
    'Conta Origem':'Conta aloacada anterior'
})
df

,Data de negociação,Número do Negócio,Código de Negociação,Preço,Quantidade Alocada,Participante Origem,Conta aloacada anterior,Conta Destino
0,14/05/2018 12:53:24,10,FBOK34F,338.05,84,85,99999,211222
1,14/05/2018 12:53:24,10,FBOK34F,338.05,84,85,99999,83059
2,14/05/2018 14:07:40,51890,EMBR3,22.20,100,85,999985,47410
3,14/05/2018 14:07:40,52030,EMBR3,22.20,100,85,999985,47410
4,14/05/2018 14:08:54,52690,EMBR3,22.21,500,85,999985,47410
5,14/05/2018 14:07:40,51920,EMBR3,22.20,500,85,999985,47410
6,14/05/2018 14:07:40,51980,EMBR3,22.20,1700,85,999985,47410
7,14/05/2018 14:07:40,51990,EMBR3,22.20,200,85,999985,47410
8,14/05/2018 14:07:40,51900,EMBR3,22.20,1000,85,999985,47410
9,14/05/2018 14:07:40,51950,EMBR3,22.20,3000,85,999985,47410
10,14/05/2018 14:07:40,51910,EMBR3,22.20,2000,85,999985,47410
11,14/05/2018 14:08:54,52700,EMBR3,22.21,500,85,999985,47410
12,14/05/2018 14:07:40,51960,EMBR3,22.20,500,85,999985,47410
13,14/05/2018 14:07:40,51930,EMBR3,22.20,600,85,999985,47410
14,14/05/2018 12:27:00,21940,EMBR3,22.63,300,85,99999,100183
15,14/05/2018 12:39:00,23340,EMBR3,22.67,500,85,99999,100183
16,14/05/2018 13:04:19,30510,EMBR3,22.50,800,85,99999,100183
17,14/05/2018 12:30:00,22290,EMBR3,22.64,100,85,99999,100183
18,14/05/2018 12:45:00,24300,EMBR3,22.59,200,85,99999,100183
19,14/05/2018 12:45:00,24290,EMBR3,22.59,100,85,99999,100183
20,14/05/2018 12:33:00,22710,EMBR3,22.64,200,85,99999,100183
21,14/05/2018 12:51:00,26300,EMBR3,22.53,100,85,99999,100183
22,14/05/2018 12:49:19,25680,EMBR3,22.57,200,85,99999,100183
23,14/05/2018 12:45:01,24310,EMBR3,22.58,400,85,99999,100183
24,14/05/2018 12:27:00,21920,EMBR3,22.63,200,85,99999,100183
25,14/05/2018 12:49:19,25670,EMBR3,22.57,600,85,99999,100183
26,14/05/2018 12:51:00,26310,EMBR3,22.53,200,85,99999,100183
27,14/05/2018 12:56:01,27120,EMBR3,22.55,1000,85,99999,100183
28,14/05/2018 12:30:00,22300,EMBR3,22.64,200,85,99999,100183
29,14/05/2018 12:33:00,22690,EMBR3,22.64,600,85,99999,100183
...,...,...,...,...,...,...,...,...
389,14/05/2018 13:48:42,44810,EMBR3,22.36,200,85,99999,100183
390,14/05/2018 13:56:13,46710,EMBR3,22.39,100,85,99999,100183
391,14/05/2018 14:06:15,50900,EMBR3,22.25,300,85,99999,100183
392,14/05/2018 14:26:03,63890,EMBR3,22.11,100,85,99999,100183
393,14/05/2018 14:06:27,51200,EMBR3,22.24,100,85,99999,100183
394,14/05/2018 13:58:57,48120,EMBR3,22.32,100,85,99999,100183
395,14/05/2018 14:00:03,48560,EMBR3,22.29,400,85,99999,100183
396,14/05/2018 14:20:02,60210,EMBR3,22.14,100,85,99999,100183
397,14/05/2018 14:07:41,52160,EMBR3,22.19,500,85,99999,100183
398,14/05/2018 14:10:43,54200,EMBR3,22.19,700,85,99999,100183
399,14/05/2018 14:06:49,51320,EMBR3,22.25,100,85,99999,100183
400,14/05/2018 14:02:09,49530,EMBR3,22.28,200,85,99999,100183
401,14/05/2018 14:11:41,54730,EMBR3,22.19,200,85,99999,100183
402,14/05/2018 14:06:18,51110,EMBR3,22.25,200,85,99999,100183
403,14/05/2018 14:09:40,53190,EMBR3,22.20,200,85,99999,100183
404,14/05/2018 14:11:43,54900,EMBR3,22.18,100,85,99999,100183
405,14/05/2018 14:11:43,54910,EMBR3,22.18,100,85,99999,100183
406,14/05/2018 14:16:10,59200,EMBR3,22.13,200,85,99999,100183
407,14/05/2018 14:14:37,56790,EMBR3,22.20,400,85,99999,100183
408,14/05/2018 14:07:40,51970,EMBR3,22.20,100,85,99999,100183
409,14/05/2018 14:15:37,58620,EMBR3,22.17,400,85,99999,100183
410,14/05/2018 14:15:30,58130,EMBR3,22.14,200,85,99999,100183
411,14/05/2018 14:15:01,57460,EMBR3,22.20,100,85,99999,100183
412,14/05/2018 14:08:54,52790,EMBR3,22.20,1400,85,99999,100183
413,14/05/2018 14:08:54,52710,EMBR3,22.21,100,85,99999,100183
414,14/05/2018 14:15:37,58630,EMBR3,22.17,700,85,99999,100183
415,14/05/2018 15:18:53,62340,EQTL3,64.00,6000,85,999985,188471
416,14/05/2018 15:26:53,63920,EQTL3,64.00,60000,85,999985,188471
417,14/05/2018 16:24:19,81320,EQTL3,64.00,9000,85,999985,188471
418,14/05/2018 15:18:53,62340,EQTL3,64.00,6500,85,999985,188471

In [7]:
out_path = r'C:\Users\%s\OneDrive - Banco BTG Pactual S.A\Desktop' % getpass.getuser() \
                +'\Descricao - Violacoes das Regras_Participantes.xlsx'

writer = pd.ExcelWriter(out_path , engine='xlsxwriter')
df.to_excel(writer, sheet_name='Planilha1', index=False)
writer.save()

In [8]:
docpath = r'C:\Users\%s\OneDrive - Banco BTG Pactual S.A\Desktop' % getpass.getuser() \
                +'\Anexo I ao Comunicado Externo 083.docx'

In [9]:
out_path

'C:\\Users\\correigu\\OneDrive - Banco BTG Pactual S.A\\Desktop\\Descricao - Violacoes das Regras_Participantes.xlsx'

In [10]:
document = docx.Document(docpath)

In [11]:
today = datetime.datetime.today()

In [13]:
months_dictionary = {
    1:'janeiro',
    2:'fevereiro',
    3:'março',
    4:'abril',
    5:'maio',
    6:'junho',
    7:'julho',
    8:'agosto',
    9:'setembro',
    10:'outubro',
    11:'novembro',
    12:'dezembro'
}

substitutions = {
    2:str(today.day),
    4:str(months_dictionary[today.month]),
    6:str(today.year)+'.'
}

In [16]:
for paragraf in document.paragraphs:
    if 'São Paulo' in paragraf.text:
        old_text = paragraf.text.split()
        new_text = old_text
        for key in substitutions:
            new_text[key] = substitutions[key]
        new_text = ' '.join(new_text)
        
        paragraf.text = new_text
        print(paragraf.text)
        
    document.save(docpath)

In [17]:
wdFormatPDF = 17

word = comtypes.client.CreateObject('word.application')

docpath

doc = word.Documents.Open(docpath)

doc.SaveAs(docpath[:-5]+ '.pdf', FileFormat=wdFormatPDF)

doc.Close()
word.Quit()


pdf_file = docpath[:-5]+ '.pdf'

0

In [19]:
email_sender('guilherme.correia@btgpactual.com', 'guilherme.correia@btgpactual.com', 'teste_email_bolsa', \
            'esse email contem os arquivos da bolsa', [out_path, pdf_file])