In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
sys.path.append('%s/../' % os.getcwd())

import datetime
import pandas as pd
import numpy as np
import getpass

In [3]:
file = r'C:\Users\correigu\Downloads\CMVD20180611220844.DAT'

In [21]:
df = pd.read_csv(file, sep='\s+',error_bad_lines=False)

b'Skipping line 3: expected 7 fields, saw 13\nSkipping line 5: expected 7 fields, saw 14\nSkipping line 6: expected 7 fields, saw 13\nSkipping line 8: expected 7 fields, saw 15\nSkipping line 9: expected 7 fields, saw 15\n'

In [22]:
df

,,,,,00CMVD0085CBLC,00850000026482018061120180611
010008500147214699000000006693120030128001TITULAR,ASCENSION,HEALTH,MASTER,PENSION,TRUST,0268200162711000000000000000
010008500216680799000000010293820060327001TITULAR,C,WORLDWIDE,2291800004311000000000000000,NaN,NaN,NaN
010008509999300604381515800012219890213001TITULAR,BTG,PACTUAL,CTVM,S/A,000000000000000,NaN
99CMVD0085CBLC,00850000026482018061100000001020180611,NaN,NaN,NaN,NaN,NaN